body {
  font-family: "Montserrat";
  background-image: url("images/coveryoga.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a:any-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}


a:hover {
  font-weight: bold;
  color: black;
}

.container {
  height: 900px;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 540px) {


  .container {
    height: 2000px;
  }

  .text {
    transform: translate(-95px, 850px);
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {

  .container {
    height: 900px;
  }

  .text {
    transform: translate(50px, 300px);
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  .text {
    transform: translate(100px, 300px);
  }
}
